{% extends "base.html" %}

{% block content %}
{% for todo in complete %}
  <div align="center">
    <table class="table table-striped" style="border: 1px solid #dddd; width:800px;">
      <tr>
        <td>{{ todo.title }}
          <div class=""style="float:right" >
            <a href="{{ url_for('delete0', id=todo.id) }}">
              <span class="glyphicon glyphicon-trash"></span>
          </div>
        </td>
      </tr>
      <tr>
        <td>{{ todo.text }}</td>
      </tr>
      <tr>
        <td>{{ todo.time }}</td>
      </tr>
    </table>
  </div>
{% endfor %}
{% endblock %}
