{% extends "base.html" %}

{% block content %}
{% for user in users %}
<div class="container-fluid well span6">
  <div class="row-fluid">
        <div class="span8">
          {% if user != current_user %}
          <h3><a href="{{ url_for('user', username=user.username) }}">{{ user.username }}</a></h3>
            <h3>{{ user.email }}</h3>
            <h4>what's up: {{ user.about_me }}</h4>
            <span class=" badge badge-warning">{{ user.followers.count() }} followers</span> <span class=" badge badge-info">{{ user.followed.count() }}  followed</span>
            <h6>
              {% if user == current_user %}
              <p><a class="btn btn-primary" href="{{ url_for('edit_password') }}">Change your password</a></p>
              <p><a class="btn btn-primary" href="{{ url_for('edit_profile') }}">Change your what's up</a></p>
              {% elif not current_user.is_following(user) %}
              <p><a class="btn btn-primary" href="{{ url_for('follow', username=user.username) }}">Follow</a></p>
              {% else %}
              <p><a class="btn btn-primary" href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a></p>
              {% endif %}</h6>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
